.karaoke-word-container {
  display: inline-block;
  position: relative;
  margin-right: 0.2em;
  vertical-align: baseline;
}

.karaoke-word {
  position: relative;
  display: inline-block;
  white-space: pre;
}

.karaoke-original-text {
  position: relative;
  color: black;
  z-index: 0;
}

.karaoke-highlight-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1;

  color: var(--karaoke-highlight-color, red);
  background-color: var(--karaoke-highlight-bg-color, yellow);
  mix-blend-mode: var(--karaoke-highlight-blend-mode, normal);
}